@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: normal;
    src: local('open-sans'),
        url('./OpenSans-Light.woff2') format('woff2'),
        url('./OpenSans-Light.woff') format('woff'),
        url('./OpenSans-Light.ttf') format('ttf'),
        url('./OpenSans-Light.eot') format('eot');
}
@font-face {
    font-family: 'raleway';
    font-style: normal;
    font-weight: normal;
    src: local('raleway'),
        url('./Raleway-Thin.woff2') format('woff2'),
        url('./Raleway-Thin.woff') format('woff'),
        url('./Raleway-Thin.ttf') format('ttf'),
        url('./Raleway-Thin.eot') format('eot');
}
.container {
    width: 1170px;
    height: 540px;
}
.container__tab {
    width:1170px ;
    height: 40px ;
    display: inline-block;
}
.container__tab__1{
    width: 184px;
    height: 40;
    display: inline-block;
    text-align: center;
    font-family: 'open-sans';
    border: 2px  solid #C6CBCD;
    border-width: 2px 2px 0px 2px;
    border-radius: 5px 5px 0px 0px;
    margin: 0px
}
.container__tab__2{
    width: 184px;
    height: 40;
    display: inline-block;
    font-family: 'open-sans';
    border: 2px  solid #C6CBCD;
    border-width: 0px 0px 2px 2px;
    margin: -5px;
    text-align: center;
}
.container__tab__3{
    width: 184px;
    height: 40;
    display: inline-block;
    font-family: 'open-sans';
    border: 2px  solid #C6CBCD;
    border-width: 0px 0px 2px 0px;
    margin: -4px;
    text-align: center;
}
.container__tab__0{
    width: 618px;
    height: 40;
    display: inline-block;
    border: 2px  solid #C6CBCD;
    border-width: 0px 0px 2px 0px;
    margin: 0px 0px -22px 0px;
}
.container__chest{
    position: absolute;
    width: 1168px;
    height: 500px;
    border: 2px  solid #C6CBCD;
    border-width: 0px 2px 2px 2px;
    margin: 16px 0px 0px 0px;
}
.container__chest__h3{
    width: 570px;
    height: 124px;
    margin: 0px 0px 0px 62px ;
    padding: 20px 0px 0px 5px;
    float: left;
    font-family: 'open-sans';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
.container__chest__h5{
    width: 570px;
    height: 210px;
    margin: 0px 0px 0px 28px ;
    font-family: 'raleway';
    white-space: pre;
    float: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.container__chest__pic{
    width: 470px;
    height: 500px;
    float: right;
    margin: -143px 0px 0px 0px;
}
.container__chest__button{
    width: 270px;
    height: 58px;
    float: left;
    margin: 70px 0px 0px 91px ;
    
}
.container__chest__button__download {
    width: 270px;
    height: 58px;
    font-family: 'open-sans';
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: #EC7979;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    border: 0px;
}